%code {
  font-family: 'droid-sans-mono';
  font-size: em(12);
  white-space: pre-wrap;
}

body {
  code {
    @extend %code;
  }

  pre .language-ruby {
    @extend %code;
  }
}

.wrapper {
  @include outer-container;
  padding-left: flex-gutter(4);
  padding-right: flex-gutter(4);

  @include media($medium-screen-up) {
    padding-left: flex-gutter(8);
    padding-right: flex-gutter(8);
  }

  @include media($large-screen-up) {
    padding-left: flex-gutter(12);
    padding-right: flex-gutter(12);
  }
}

nav {
  @include size(100% em(100));
  background: $brand-lt-gray;

  .btn {
    float: right;
    margin-top: em(30);

    @include media($mobile-screen) {
      display: none;
    }
  }
}

.logo {
  @include size(em(250) em(65));
  background: image-url("shoulda-matchers-logo.svg") no-repeat;
  display: inline-block;
  float: left;
  margin-top: em(19);

  @include media($mobile-screen) {
    padding-left: em(10);
  }
}

.btn {
  min-width: em(150);
  height: em(45);
  @include transition (all, linear, 0.3s);
  border-radius: em(20);
  display: inline-block;
  font-weight: 400;
  margin-left: em(10);
  padding: em(10) em(20);
  text-align: center;
  text-transform: uppercase;
}

.btn-github {
  @extend .btn;
  border: solid 2px $brand-red;
  color: $brand-red;

  &:hover {
    background: $brand-red;
    color: white;
    cursor: pointer;
  }
}

.btn-docs {
  @extend .btn;
  border: solid 2px $brand-green;
  color: $brand-green;

  &:hover {
    background: $brand-green;
    color: white;
    cursor: pointer;
  }
}

.main-header {
  @include size(auto em(720));
  background: image-url('background-header.png') no-repeat top;
  background-size: cover;

  @include media($medium-large-screen) {
    @include size(auto em(950));
  }

  .subheader {
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px 7px #107a7a;
    text-align: center;
  }

  h1 {
    padding: 50px 15px 40px;

    @include media($small-medium-screen) {
      font-size: $base-font-size * 2.75;
    }
  }
}

.browser-wrapper {
  @include span-columns(6);

  @include media($medium-large-screen) {
    @include span-columns(12);
    padding: 0 em(30) em(60);
  }
}

.browser-container {
  padding: 0 em(15);
  position: relative;

  h4 {
    padding-bottom: em(15);
  }
}

.browser-bar {
  @include size (auto em(32));
  @include fill-parent;
  background: #d8d8d8;
  background-repeat: no-repeat;
  border-radius: em(4) em(4) 0 0;
  clear: both;
}

.browser-button {
  @include size (em(15));
  background: #ccc;
  border-radius: 50%;
  float: left;
  margin: em(9) 0 0 em(8);
}

.emoji {
  @include position(absolute, em(25) em(-5) null null);
  z-index: 5;
}

.emoji-thumb {
  @extend .emoji;
  @include size(em(75));
  @include transition(all .2s ease-in-out);
  background: image-url("emoji-thumb.svg") no-repeat;

  &:hover {
    @include size(em(80));
  }
}

.emoji-thumb-down {
  @extend .emoji;
  @include size(em(70));
  @include transition(all .2s ease-in-out);
  background: image-url("emoji-thumb-down.svg") no-repeat;

  &:hover {
    @include size(em(75));
  }
}

.animation {
  @include animation(fadeIn .80s .80s 1 backwards);
}

.browser-background {
  @include fill-parent;
  @include size (auto em(405));
  background: #494f57;
  border-radius: 0 0 em(5) em(5);
  overflow: hidden;
  position: relative;

  .language-ruby {
    @include fill-parent;
    background: none;;
    border: none;
    box-shadow: none;
    font-size: em(14.75);
    overflow: hidden;
    text-shadow: none;
    z-index: 2;

    @include media($large-screen-up) {
      @include size (em(515) em(423,15));
      @include position(absolute, em(5) null null em(10,15));
    }
  }
}

.benefits {
  padding: em(70);

  @include media($small-screen) {
    padding-top: initial;
    padding-bottom: em(25);
  }
}

.benefit {
  @include span-columns(4);
  padding: 0 em(25);
  text-align: center;

  @include media($small-screen) {
    @include span-columns(8);
    padding-top: em(50);
  }

  h4 {
    font-weight: 500;
    padding: em(25) 0 em(12);
  }
}

.icon {
  @include size(em(70) em(70));
  margin: 0 auto;

  &.animated {
    @include animation(fadeIn 2s);
  }
}

.examples-wrapper {
  background: $brand-lt-gray;
  border-bottom: solid 1px #e3e2dd;
  border-top: solid 1px #e3e2dd;
  padding-bottom: em(40);

  .code-sample {
    margin-bottom: $base-spacing;
  }

  .filename, .language-ruby {
    border-radius: 5px;
  }

  .filename {
    background: #d8d8d8;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.3em 1em;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.6);
  }

  pre.language-ruby {
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .language-ruby {
    background: #494f57;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    margin: 0;
    position: relative;
    text-shadow: none;
    font-size: em(14.5);

    @include media($mobile-screen) {
      width: em(320);
    }
  }
}

.section-header {
  font-weight: 500;
  padding: em(35) 0;
  text-align: center;
}

.tabs {
  @include position(relative, auto auto auto 50%);
  margin-left: -350px;
  width: 700px;
}

.vertical-tabs-container { // small screens: accordion
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-border-radius: $base-border-radius;
  $tab-content-background: white;
  $tab-active-color: $tab-content-background;
  $tab-inactive-color: $brand-lt-gray;
  $vertical-tabs-height: em(300);
  $vertical-tab-mode: $large-screen-up;

  @include clearfix;
  border-radius: $tab-border-radius;
  border: $tab-border;
  margin-bottom: $base-spacing;
  overflow: hidden;

  a {
    color: $brand-med-gray;
  }

  .vertical-tabs {
    display: none;

    @include media($vertical-tab-mode) {
      background-color: $tab-inactive-color;
      display: inline;
      float: left;
      height: $vertical-tabs-height;
      width: 20%;
    }
  }

  .vertical-tab {
    font-size: em(18);

    @include media($vertical-tab-mode) {
      border-bottom: $tab-border;
      display: block;
      font-weight: 500;
      margin-right: -1px;
      padding: $base-spacing/2 $gutter/2;

      &.is-active {
        background-color: $tab-content-background;
        border-bottom-color: transparent;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        margin-right: -1px;
      }
    }
  }

  .vertical-tab:focus {
    outline: none;
  }

  .vertical-tab-content-container {
    display: block;
    margin: 0 auto;

    & a:focus {
      outline: none;
    }

    @include media($vertical-tab-mode) {
      @include inline-block;
      width: 80%;
      min-height: $vertical-tabs-height;
      background-color: $tab-content-background;
    }
  }

  .vertical-tab-content {
    background-color: white;
    padding: 0 $gutter;
    overflow: hidden;
    display: none;

    @include media($vertical-tab-mode) {
      padding-top: $base-spacing;
      border: none;
      overflow: inherit;
    }

    &.is-active {
      display: block;
    }
  }

  .vertical-tab-accordion:first-child {
    .vertical-tab-accordion-heading {
      border-top: none;
    }
  }

  .vertical-tab-accordion-heading {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    cursor: pointer;
    display: block;
    font-size: em(20);
    font-weight: 500;
    padding: $base-spacing/2 $gutter/2;

    &:hover {
      color: $base-accent-color;
    }

    &.is-active {
      background: $tab-active-color;
      border-bottom: none;
    }

    @include media($vertical-tab-mode) {
      display: none;
    }
  }
}
// Based on code by Jett Miller jettmiller.net

.list-wrapper {
  @include span-columns(3);
  padding-bottom: em(50, 14);

  h4 {
    padding-bottom: em(10);
  }

  @include media($medium-large-screen) {
    @include span-columns(6);
    @include omega;
  }

  @include media($small-screen) {
    @include shift(0);
  }

  @include media($mobile-screen) {
    @include span-columns(4 of 4);
  }
}

footer {
  background: $brand-lt-gray;
  padding-bottom: em(20);
  text-align: center;
  overflow: hidden;

  .section-header {
    font-weight: 300;
    padding-bottom: em(20, 14);
  }

  .footer-buttons {
    margin: em(35) auto;
  }

  p {
    text-align: center;

    a {
      color: $brand-green;
    }
  }
}
