.wrapper {
  @include outer-container;
}

nav {
  @include size(100% em(110));
  background: $brand-lt-gray;

  .btn {
    float: right;
    margin-top: em(35);

    @include media($mobile-screen) {
      display: none;
    }
  }
}

.logo {
  @include size(em(250) em(65));
  background: image-url("shoulda-matchers-logo.svg");
  display: inline-block;
  float: left;
  margin-top: em(25);

  @include media($mobile-screen) {
    padding-left: em(10);
  }
}

.btn {
  @include size (em(150) em(45));
  @include transition (all, linear, 0.3s);
  border-radius: em(20);
  display: inline-block;
  font-weight: 400;
  padding: em(10) em(20);
  margin-left: em(10);
  text-align: center;
  text-transform: uppercase;
}

.btn-github {
  @extend .btn;
  border: solid 2px $brand-red;
  color: $brand-red;

  &:hover {
    background: $brand-red;
    color: white;
    cursor: pointer;
  }
}

.btn-docs {
  @extend .btn;
  border: solid 2px $brand-green;
  color: $brand-green;

  &:hover {
    background: $brand-green;
    color: white;
    cursor: pointer;
  }
}

.main-header {
  @include size(auto em(600));
  background: image-url('background-header.png') no-repeat top;
  background-size: cover;

  h1 {
    font-weight: 500;
    text-shadow: 1px 1px 7px #107a7a;
    color: white;
    text-align: center;
    padding: 60px 15px 50px;

    @include media($small-medium-screen) {
      font-size: $base-font-size * 2.75;
    }
  }
}

.browser-container {
  padding: 0 em(15);
  position: relative;
}

.browser-bar {
  @include size (100% em(32));
  background: #d8d8d8;
  background-repeat: no-repeat;
  border-radius: em(4) em(4) 0 0;
}

.browser-button {
  @include size (em(15));
  background: #ccc;
  border-radius: 50%;
  float: left;
  margin: em(9) 0 0 em(8);
}

.tool-tip {
  @include position(absolute, em(50) em(-25) null null);
  @include size(em(280) em(55));
  background: #e3e2dd;
  border-radius: em(5);
  box-shadow: -1px 3px 6px -1px rgba(0,0,0,0.70);;
  font-size: em(22);
  padding: em(13) em(17) em(17);
  z-index: 5;

  @include media ($medium-large-screen) {
    margin-right: em(50);
  }

  @include media($mobile-screen) {
    @include position(absolute, em(35) em(-25) null null);
    @include size(em(280) em(45));
    font-size: em(18);
    padding: em(11) em(17) em(17);
  }

  p {
    color: $brand-med-gray;
    text-align: initial;
  }
}

.presentation {
  &.paused {
    .animatable {
      @include animation-play-state(paused);
    }

    .tool-tip {
      @include transform(scale3d(0, 0, 0));
    }

    .animation {
      opacity: 0;
    }
  }

  &.running {
    .tool-tip {
      @include transform(inherit);
    }

    .animation {
      opacity: inherit;
    }

    $slide-one-start: 0s;
    $slide-duration: 2.5s;
    $slide-fade-offset: 0.3s;
    $slide-pause: 1s;
    $tooltip-in-duration: 0.7s;
    $tooltip-out-duration: 0.9s;
    $fade-duration: 0.9s;

    $slide-one-start: 0s;
    $slide-one-end: $slide-one-start + $slide-duration;
    $slide-two-start: $slide-one-end + $fade-duration + $slide-pause;
    $slide-two-end: $slide-two-start + $slide-duration;

    .tool-tip-one {
      @include animation(
        bounceIn $tooltip-in-duration $slide-one-start 1 backwards,
        bounceOut $tooltip-out-duration $slide-one-end 1 forwards
      );
    }

    .animation-one {
      @include animation(
        fadeIn $fade-duration $slide-one-start 1 backwards,
        fadeOut $fade-duration ($slide-one-end + $slide-fade-offset) 1 forwards
      );
    }

    .tool-tip-two {
      @include animation(
        bounceIn $tooltip-in-duration $slide-two-start 1 backwards,
        bounceOut $tooltip-out-duration $slide-two-end 1 forwards
      );
    }

    .animation-two {
      @include animation(
        fadeIn $fade-duration $slide-two-start 1 backwards,
        fadeOut $fade-duration ($slide-two-end + $slide-fade-offset) 1 forwards
      );
    }
  }
}

.browser-background {
  @include size (100% em(450));
  background: #494f57;
  border-radius: 0 0 em(5) em(5);

  .language-ruby {
    @include size (70% em(350,15));
    @include position(absolute, em(24,15) null null em(24,15));
    background: #494f57;
    border: none;
    box-shadow: none;
    font-size: em(15);
    overflow: hidden;
    text-shadow: none;
    z-index: 2;
  }
}

.benefits-header {
  background: $brand-lt-gray;
  border-bottom: solid 1px #e3e2dd;
  padding: em(75) 0 em(35) 0;
  text-align: center;

  span {
    color: $brand-green;
    font-weight: 500;
  }
}

.benefits-wrapper {
  padding: em(75) 0;

  @include media($small-screen) {
    padding-top:initial;
    padding-bottom: em(25);
  }
}

.benefit {
  @include span-columns(4);
  padding: 0 em(25);
  text-align: center;

  @include media($small-screen) {
    @include span-columns(8);
    padding-top: em(50);
  }

  h2 {
    font-weight: 500;
    padding: em(40) 0 em(20);
  }
}

.icon {
  @include size(em(79) em(79));
  margin: 0 auto;

  &.animated {
    @include animation(reveal 2s);
  }
}

.installation-wrapper {
  background: $brand-lt-gray;
  border-bottom: solid 1px #e3e2dd;
  border-top: solid 1px #e3e2dd;
  padding: em(75) 0;

  .language-ruby {
    background: #494f57;
    border: none;
    border-radius: none;
    box-shadow: none;
    margin: em(20) 0 em(20) 0;
    position: relative;
    text-shadow: none;
    width: em(500);

    @include media($mobile-screen) {
      width: em(320);
    }
  }
}

.installation-header {
  font-weight: 500;
  padding-bottom: em(35);
  text-align: center;
}

.tabs {
  @include position(relative, auto auto auto 50%);
  margin-left: -350px;
  width: 700px;
}

.installation-instructions {
  margin-top: em(30);

  h2 {
    font-weight: 500;
    padding-bottom: em(10);
  }
}

.accordion-tabs-minimal {
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: $secondary-background-color;
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $secondary-background-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include media($tab-mode) {
    border: none;
  }

  li.tab-header-and-content {
    @include media($tab-mode) {
      display: inline;
    }

    &:first-child a.tab-link {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border-top: 0;
    }

    &:last-child a.tab-link {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;

      @include media($tab-mode) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  li.tab-header-and-content a.tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-gray;
    display: block;
    font-weight: 400;
    padding: $base-spacing/2 $gutter;

    @include media($tab-mode) {
      @include inline-block;
      border-top: 0;
      border-top-right-radius: $base-border-radius;
      border-top-left-radius: $base-border-radius;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      background-color: $tab-active-background;
      border-bottom: 0;
      font-weight: 500;

      @include media($tab-mode) {
        background-color: $tab-active-background;
        border: $tab-border;
        border-bottom: 1px solid $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  li.tab-header-and-content .tab-content {
    padding: $base-spacing $gutter;
    background: $tab-content-background;
    display: none;
    overflow: hidden;
    width: 100%;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
      left: 0;
      padding: $base-spacing/2 $gutter/2;
    }
  }
}

footer {

  .footer-buttons {
    @include position(relative, auto auto auto 50%);
    @include size(350px auto);
    margin: 40px 0 40px  -175px;
  }

  p {
    text-align: center;

    a {
      color: $brand-green;
    }
  }
}
