.wrapper {
  @include outer-container;
}

nav {
  padding: em(25) 0 em(20);
  background: $brand-lt-gray;

  .btn {
    float: right;
    margin-top: em(15);
  }
}

.logo {
  @include retina-image(shoulda-matchers-logo, 301px 79px, $asset-pipeline: true);
  @include size(em(301) em(79));
  display: inline-block;
  float: left;

  &:hover {
    @include animation-name(scale);
    @include animation-duration(2s);
    @include animation-timing-function(ease);
    cursor: pointer;
  }
}

.btn {
  @include size (em(150) em(45));
  border: solid 2px $brand-red;
  border-radius: em(20);
  color: $brand-red;
  display: inline-block;
  font-weight: 400;
  padding: em(10) em(20);
  text-align: center;
  text-transform: uppercase;

  &:hover {
    @include transition (all, linear, 0.2s);
    background: $brand-red;
    color: white;
    cursor: pointer;
  }
}

.main-header {
  @include size(auto em(550));
  background: image-url('background-header.png') no-repeat top;
  background-size: cover;

  .main-header-copy {
    color: white;
    padding-top: em(75);
    text-align: center;

    h1 {
      font-weight: 500;
      text-shadow: 1px 1px 7px #107a7a;
    }

    h2 {
      line-height: $base-line-height * 2;
    }
  }
}

.code-samples-wrapper {
  @include position(relative, 50% auto auto 50%);
  padding-top: em(40);
  margin: 0 0 0 em(-500);
  width: em(1000);

  .language-ruby {
    background: #494f57;
    border: none;
    box-shadow: none;
    position: relative;
    text-shadow: none;
  }
}

.browser-container {
  float: left;
  padding-right: em(50);
}

.browser-bar {
  @include retina-image(browser-bar, 442px 26px, $asset-pipeline: true);
  @include size(em(442) em(26));
}

.browser-background {
  @include size (442px 200px);
  background: #494f57;
  position: absolute;
}

.browser-background-shoulda {
  @include size (442px 150px);
  background: #494f57;
  position: absolute;
}

.triangle-tag {
  @include position(absolute, 0 0 auto auto);
  @include size(em(109) em(109));
  @include retina-image(triangle-tag, 109px 109px, $asset-pipeline: true);
  z-index: 2;
}

.benefits-header {
  background: $brand-lt-gray;
  padding: em(40);
  text-align: center;

  span {
    color: $brand-green;
    font-weight: 500;
  }
}

.benefits-wrapper {
  padding: em(75) 0;
}

.benefit {
  @include span-columns(4);
  padding: 0 em(25);
  text-align: center;

  h2 {
    font-weight: 500;
    padding: em(40) 0 em(20);
  }
}

.icon {
  height: em(70);
}

.clock-icon {
  @include retina-image(clock, 69px 69px, $asset-pipeline: true);
  @include size(em(69) em(69));
  margin: 0 auto;
}

.write-icon {
  @include retina-image(write, 62px 78px, $asset-pipeline: true);
  @include size(em(62) em(78));
  margin: 0 auto;
}

.check-icon {
  @include retina-image(check, 66px 53px, $asset-pipeline: true);
  @include size(em(66) em(53));
  margin: 0 auto;
}

.installation-wrapper {
  background: $brand-lt-gray;
  padding: em(75) 0;

  li {
    float: left;
    padding: 0 em(75);
  }

  h4 {
    clear: both;
    line-height: $base-line-height * 2;
  }

  .language-ruby {
    background: #494f57;
    border: none;
    box-shadow: none;
    position: relative;
    text-shadow: none;
    width: em(500);
  }
}

.installation-header {
  font-weight: 500;
  padding-bottom: em(50);
  text-align: center;
}

.tabs {
  @include position(relative, auto auto auto 50%);
  margin-left: -350px;
  width: 700px;
}

.installation-instructions {
  border-top: 1px solid $light-gray;
  margin-top: em(40);
  padding-top: em(40);

  h2 {
    font-weight: 500;
  }
}

footer {
  .btn {
    @include position(relative, auto auto auto 50%);
    @include size(150px auto);
    margin: 40px 0 40px  -75px;
  }

  p {
    text-align: center;
  }
}
