.wrapper {
  @include outer-container;
}

nav {
  padding: em(25) 0 em(20);
  background: $brand-lt-gray;

  .btn {
    float: right;
    margin-top: em(15);
  }
}

.logo {
  @include size(em(301) em(79));
  @include retina-image(shoulda-matchers-logo, 301px 79px, $asset-pipeline: true);
  display: inline-block;
  float: left;
}

.btn {
  @include size (em(150) em(45));
  border: solid 2px $brand-red;
  border-radius: em(20);
  color: $brand-red;
  display: inline-block;
  font-weight: 400;
  padding: em(10) em(20);
  text-align: center;
  text-transform: uppercase;

  &:hover {
    @include transition (all, linear, 0.2s);
    background: $brand-red;
    color: white;
    cursor: pointer;
  }
}

.main-header {
  @include size(auto em(550));
  background: image-url('background-header.png') no-repeat top;
  background-size: cover;

  .main-header-copy {
    color: white;
    padding-top: em(75);
    text-align: center;

    h1 {
      font-weight: 500;
      text-shadow: 1px 1px 7px #107a7a;
    }

    h4 {
      line-height: $base-line-height * 2;
    }
  }
}

.code-samples-wrapper {
  @include position(absolute, 50% auto auto 50%);
  padding-top: em(40);
  margin: 0 0 0 em(-500);
  width: em(1000);
}

.browser-container {
  float: left;
  padding-right: em(50);
}

.browser-bar {
  @include size(em(442) em(26));
  @include retina-image(browser-bar, 442px 26px, $asset-pipeline: true);
}

.browser-background {
  @include size (442px 200px);
  background: #494f57;
}

.browser-background-shoulda {
  @include size (442px 150px);
  background: #494f57;
}

.triangle-tag {
  @include size(em(109) em(109));
  @include retina-image(triangle-tag, 109px 109px, $asset-pipeline: true);
  float: right;
}


.benefits-header {
  background: $brand-lt-gray;
  padding: em(40);
  text-align: center;

  span {
    color: $brand-green;
    font-weight: bold;
  }
}

.benefits-wrapper {
  padding: em(75) 0;
}

.benefit {
  @include span-columns(4);
  padding: 0 em(25);
  text-align: center;

  h4 {
    font-weight: bold;
    padding: em(40) 0 em(20);

  }
}

.icon {
  height: em(70);
}

.clock-icon {
  @include retina-image(clock, 69px 69px, $asset-pipeline: true);
  @include size(em(69) em(69));
  margin: 0 auto;
}

.write-icon {
  @include retina-image(write, 62px 78px, $asset-pipeline: true);
  @include size(em(62) em(78));
  margin: 0 auto;
}

.check-icon {
  @include retina-image(check, 66px 53px, $asset-pipeline: true);
  @include size(em(66) em(53));
  margin: 0 auto;
}
