@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,800|Droid+Sans+Mono";

body {
  font-size: 16px;
  line-height: 1.5;
}

a, a:hover {
  color: #136cc6;
}

h1, h2, h3, h4, h5, h6, p, pre {
  margin-bottom: 1em;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6, body {
  font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

pre, tt, code {
  background: #FFFBF4;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  font-family: "Droid Sans Mono", monospace;
  font-size: 13px;
}

pre code {
  border: none;
}

tt, code {
  color: black;
  padding: 0 4px;
}

ul, ol {
  margin-left: 1em;
  padding-left: 1em;
}

p, blockquote {
  margin-bottom: 1.25em;
}

blockquote {
  font-style: italic;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1em;
}

blockquote p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
