/******** LAYOUT *********/

h1 {
  font-size: 2.2em;
  margin-top: 1em;
}

h2 {
  font-size: 2em;
}

h2, h3 {
  margin-top: 1em;
  padding-top: 0.5em;
}

h4, h5 {
  margin-top: 1em;
}

h1 + h2,
h2 + h3,
h2 + .method_details h3,
h4 + h5 {
  margin-top: 0;
}

#main h3 tt,
#sticky-header tt {
  background: transparent;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  padding: 0;
}

#main h2,
#main h3,
#sticky-header h2,
#sticky-header h3 {
  border: none;
  padding-bottom: 0;
}

#main h2,
#sticky-header h2 {
  font-size: 1.8em;
}

#main h3,
#sticky-header h3 {
  font-size: 1.5em;
  font-style: italic;
}

#main h4,
#sticky-header h4 {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  font-size: 1.4em;
  font-style: italic;
  padding-bottom: 2px;
}

#main h5,
#sticky-header h5 {
  font-size: 1.1em;
}

#sticky-header h2,
#sticky-header h3,
#sticky-header h4 {
  line-height: inherit;
  margin: 0;
  padding: 0;
}

/* Header */

#header, #main {
  position: absolute;
}

#header {
  left: 0;
  right: 0;
  top: 0;
}

#menu, #search {
  height: 6rem;
  line-height: 6rem;
  text-transform: uppercase;
}
#main {
  top: 6rem;
}

#menu {
  float: left;
  letter-spacing: 1px;
  padding-left: 2em;
  position: relative;
  width: 30em;
}

#menu .noframes {
  display: inline;
}

#search {
  float: right;
  font-size: 0.9em;
}

  #search ul {
    list-style: none;
  }

  #search ul, #search li {
    margin: 0;
    padding: 0;
    display: inline;
  }

  #search a {
    border-left: 1px solid rgba(0,0,0,0.3);
    float: left;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 0.1s background-color, 0.1s color;
    -moz-transition: 0.1s background-color, 0.1s color;
    transition: 0.1s background-color, 0.1s color;
  }

  #search a:hover {
    background-color: #f0f8ff;
  }

  #search .active a {
    background-color: #136cc6;
    border-left-color: #136cc6;
    color: white;
  }

  #search .active + li a {
    border-left-color: #136cc6;
  }

#search_frame {
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  height: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100%;
  -webkit-transition: 0.1s height ease-in-out, 0.1s opacity 0.05s;
  -moz-transition: 0.1s height ease-in-out, 0.1s opacity 0.05s;
  transition: 0.1s height ease-in-out, 0.1s opacity 0.05s;
  width: 500px;
  z-index: 9999;
}
#search_frame.open {
  height: 500px;
  opacity: 1;
  -webkit-transition: 0.1s height ease-in-out, 0.1s opacity;
  -moz-transition: 0.1s height ease-in-out, 0.1s opacity;
  transition: 0.1s height ease-in-out, 0.1s opacity;
}

/* Main */

#main {
  border-top: 1px solid rgba(0,0,0,0.2);
  bottom: 0;
  left: 0;
  overflow-y: auto;
  right: 0;
}

#content {
  padding-bottom: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}

#toc {
  display: none;
}

/* Footer */

#footer {
  background-color: rgba(0,0,0,0.3);
  color: white;
  font-weight: 100;
  padding: 10px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

#footer a {
  color: #ffedd5;
}

/* Class/Module */

.summary .deprecated {
  display: none;
}

.method_details {}
  .method_details td {
    padding: 10px;
  }

  .method_details .showSource {
    display: block;
    margin-bottom: 1em;
  }

  .method_details .source_code {
    border: 1px solid rgba(0,0,0,0.1);
    display: none;
    overflow: auto;
    width: 100%;
  }

    .method_details .source_code pre {
      background-color: transparent;
      border-radius: 0;
      border: none;
      color: inherit;
      margin-bottom: 0;
      padding: 0;
    }

    .method_details .source_code td {
      border: 1px solid rgba(0,0,0,0.1);
    }

    .method_details .source_code td.lines {
      background-color: #f0f0f0;
      color: #93a1a1;
      width: 50px;
    }

    .method_details .source_code td.code {
      background-color: #f8f8f8;
    }

    .method_details .source_code td.code pre .info {
      color: #93a1a1 /* Comment */
    }

    .method_details .deprecated {
      margin-bottom: 1em;
      font-size: 1.1em;
    }

      .method_details .deprecated strong {
        background-color: #F03434;
        color: white;
        text-transform: uppercase;
        border-radius: 3px;
        padding: 0 4px;
      }

      .method_details .deprecated .inline {
        padding-left: 3px;
      }

      .method_details .deprecated div,
      .method_details .deprecated p {
        display: inline
      }

.docstring, .method_details .showSource, .method_details .source_code {
  margin-left: 1em;
}

#sticky-header {
  background-color: rgba(255,255,255,0.8);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  height: 3em;
  line-height: 3em;
  opacity: 0;
  padding-left: 2em;   /* same as content padding */
  padding-right: 2em;   /* same as content padding */
  position: fixed;
  text-align: right;
  top: 6.1rem;
  -webkit-transition: 0.1s opacity ease-in-out;
  -moz-transition: 0.1s opacity ease-in-out;
  transition: 0.1s opacity ease-in-out;
  width: 100%;
  z-index: 999;
}
#sticky-header.show {
  opacity: 1;
}

.clear {
  clear: both;
}
