---
title: Shoulda Matchers
---


%nav
  .wrapper
    .logo
    .btn Github

%section.main-header
  .wrapper
    .main-header-copy
      %h1 Making tests easy on the fingers and eyes
      %h4 Run simple one-liner tests for common Rails functionality

    .code-samples-wrapper
      .browser-container
        .browser-bar
        .browser-background

      .browser-container
        .browser-bar
        .browser-background-shoulda
          .triangle-tag

%section
  %h4.benefits-header
    With extensive matchers for the major components of Rails:
    %span ActiveRecord
    ,
    %span ActiveModel
    , and
    %span ActionController

  .benefits-wrapper
    .wrapper
      .benefit
        .icon
          .clock-icon
        %h4 Save Time
        %p Save time thinking about which tests to run and writing your own code.
      .benefit
        .icon
          .write-icon
        %h4 Write More Tests
        %p Test more thoroughly by using preexisting tests developed over time that would otherwise be longer, more complex, and error-prone.
      .benefit
        .icon
          .check-icon
        %h4 More Readable Results
        %p Get clear and readable results from the common Rails tests.
