---
title: Shoulda Matchers
---


%nav
  .wrapper
    .logo
      =image_tag ('shoulda-matchers-logo.png')
    .btn Github

%section.main-header
  .wrapper
    .main-header-copy
      %h1 Making tests easy on the fingers and eyes
      %h4 Run simple one-liner tests for common Rails functionality

    .code-samples-wrapper
      .browser-container
        .browser-bar
        .browser-background

      .browser-container
        .browser-bar
        .browser-background
